 <div class="col-xs-12 col-md-4">
            <button type="button" class="btn btn-primary btn-lg admin-menu admin-menu-exam" data-toggle="modal" data-target="#myModal-exam">在线考试</button>
            <div class="modal fade" id="myModal-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div> 

                  <div class="modal-body">

                     <!-- ！Nav tabs -->
                    <div>
                      
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active exam-list-nav-tab">
                          <a href="#admin-exam-list" aria-controls="home" role="tab" data-toggle="tab">考试列表</a>
                        </li>
                        <li role="presentation">
                          <a href="#admin_exam_add" aria-controls="profile" role="tab" data-toggle="tab">新增考试</a>
                        </li>
                        <li role="presentation">
                          <a href="#admin_exam_query" aria-controls="profile" role="tab" data-toggle="tab">成绩查询</a>
                        </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active admin-exam-list" id="admin-exam-list">
                          <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Panel heading</div>
                            <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>考试编号</th>
                                  <th>考试名称</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td></tr>
                                <tr>
                                -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane admin_users_add" id="admin_users_add">
                          <form method="post">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">帐 号：</span>
                              <input type="text" name="user_id" class="form-control" aria-describedby="basic-addon1"></div>
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">密 码：</span>
                              <input type="text" name="user_password" class="form-control" aria-describedby="basic-addon1"></div>
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon2">部 门：</span>
                              <input type="text" name="user_department" class="form-control" aria-describedby="basic-addon2"></div>
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">职 位：</span>
                              <input type="text" name="user_role" class="form-control" aria-describedby="basic-addon3"></div>
                            <input type="hidden" name="add_user" value="yes">
                            <div class="submit-result"></div>
                            <div class="text-center add-user-button">
                              <input type="reset" class="btn btn-default add-user-reset" value="重 置"></input>
                              <input type="submit" class="btn btn-danger add-user-submit" value="确 认"></input>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- ！Nav tabs end -->
                  </div>


                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button></div>
                  </div>
                </div>
              </div>
          </div>