 <div class="col-xs-12 col-md-4">
            <button type="button" class="btn btn-primary btn-lg admin-menu admin-menu-exam" data-toggle="modal" data-target="#myModal-exam">在线考试</button>
            <div class="modal fade" id="myModal-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">在线考试</h4>
                  </div> 

                  <div class="modal-body">

                     <!-- ！Nav tabs -->
                    <div>
                      
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active exam-list-nav-tab">
                          <a href="#admin-exam-list" aria-controls="home" role="tab" data-toggle="tab">考试列表</a>
                        </li>
                        <li role="presentation">
                          <a href="#admin_exam_add" aria-controls="profile" role="tab" data-toggle="tab">新增考试</a>
                        </li>
                        <li role="presentation">
                          <a href="#admin_exam_query" aria-controls="profile" role="tab" data-toggle="tab">成绩查询</a>
                        </li>
                      </ul>
                     
                      <div class="tab-content"> 
                        <!-- Tab panes  考试列表 -->
                        <div role="tabpanel" class="tab-pane active admin-exam-list" id="admin-exam-list">
                          <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Panel heading</div>
                            <!-- Table -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>考试编号</th>
                                  <th>考试名称</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td></tr>
                                <tr>
                                -->
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <!-- Tab panes end 考试列表 -->


                        <!-- Tab panes  新增考试 -->
                        <div role="tabpanel" class="tab-pane admin_exam_add" id="admin_exam_add">
                          <form method="post">
                            <div class="alert alert-success" role="alert">正在开始创建一场新的考试...</div>
                            <div class="well">
                            <div class="panel panel-info add-selects-area">
                              <div class="panel-heading"><h4>选择题</h4></div>
                              <div class="panel-body">
                                 
                              </div>
                            </div>
                            <div class="panel panel-info add-judges-area">
                              <div class="panel-heading"><h4>判断题</h4></div>
                              <div class="panel-body">
                                Panel content
                              </div>
                            </div>
                            <div class="panel panel-info add-texts-area">
                              <div class="panel-heading"><h4>问答题</h4></div>
                              <div class="panel-body">
                                Panel content
                              </div>
                            </div>
                            </div>

                            

                            
                            <div class="text-center add-user-button">
                              <input type="reset" class="btn btn-default add-user-reset" value="重 置"></input>
                              <input type="submit" class="btn btn-danger add-user-submit" value="确 认"></input>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- ！Nav tabs end -->
                  </div>


                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭窗口</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                  </div>
                </div>
              </div>
          </div>