 
<header>
 <h1 class="text-center text-primary">bdcom考试系统</h1>
    
  

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">基本信息</h3>
  </div>
  <div class="panel-body">
  <p><%= identity %>：<%= data.id %>  </p>
  <p> 部门：<%= data.department %></p>
  <p> 职位：<%= data.role %></p>
  </div>
</div>
</header>