 <div class="col-xs-12 col-md-4 animated bounceInUp">
  <button type="button" class="btn btn-primary btn-lg admin-menu admin-menu-exam" data-toggle="modal" data-target="#myModal-exam">在线考试</button>
  <div class="modal fade" id="myModal-exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">在线考试</h4>
          </div> 

          <div class="modal-body">

           <!-- ！Nav tabs -->
           <div>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active exam-list-nav-tab">
                <a href="#user-exam-list" aria-controls="home" role="tab" data-toggle="tab">考试列表</a>
              </li>
             <!--  <li role="presentation">
                <a href="#admin_exam_add" aria-controls="profile" role="tab" data-toggle="tab">新增考试</a>
              </li> -->
              <li role="presentation">
                <a href="#user-exam-record" aria-controls="profile" role="tab" data-toggle="tab">成绩查询</a>
              </li>
            </ul>
            
            <div class="tab-content"> 
              <!-- Tab panes  考试列表 -->
              <div role="tabpanel" class="tab-pane active admin-exam-list" id="user-exam-list">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">下面为正在进行的考试。</div>
                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>考试编号</th>
                        <th>考试名称</th>
                        <th>开始考试</th>
                      </tr>
                    </thead>
                    <tbody>
                                <!-- <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td></tr>
                                <tr>
                                -->
                              </tbody>
                            </table>
                          </div>
                        </div>

                      <!-- Tab panes end 考试列表 -->

                     <!-- Tab panes  考试成绩列表 -->
                              <div role="tabpanel" class="tab-pane user-exam-record" id="user-exam-record">
                                <div class="panel panel-success">
                                  <!-- Default panel contents -->
                                  <div class="panel-heading">
                                     <div class="panel-body form-horizontal">
                                  <div class="form-group">
                                    <label for="query-exam-id" class="col-sm-2  col-xs-12 control-label">考试编号</label>
                                    <div class="col-sm-8 col-xs-7">
                                      <input type="text" class="form-control"  id="query-exam-id" placeholder="请输入考试编号查询考试记录">
                                    </div>
                                    <div class="col-sm-2 col-xs-5">
                                      <div class="btn btn-success user-exam-query-query" >查询记录</div>
                                    </div>
                                  </div>

                                 
                                 
                                  
                                </div> 

                                  </div>

                                  <div class="exam-query-query-info"></div>
                                  <!-- Table -->
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>考生帐号</th>
                                        <th>考试时间</th>
                                        <th>分数</th>
                                        <th>操作</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td></tr>
                                        <tr>
                                        -->
                                      </tbody>
                                    </table>
                                  </div>
                                </div>

                                <!-- Tab panes end 考试成绩列表 -->
                        
                      </div>
                    </div>
                    <!-- ！Nav tabs end -->
                  </div>


                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭窗口</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>



<!-- 为开始考试设置的表单 -->
<form action="./about_exam/start" method="post" class="start_exam_form " target="_blank" method="post" style="display: none;">
  <input type="text" name="login_id" value="<%= data.id %>">
  <input type="text" name="login_password" value="<%= data.password %>">
  <input type="text" name="exam_id" value="">
</form>

<!-- 为查看考试记录详情设置的表单 -->
<form action="./about_exam/record/detail" method="post" class="record_detail_form " target="_blank" method="post" style="display: none;">
  <input type="text" name="login_id" value="<%= data.id %>">
  <input type="text" name="login_password" value="<%= data.password %>">
  <input type="text" name="exam_id" value="">
  <input type="text" name="record_id" value="">
</form>

