<div class="col-xs-12 col-md-4 animated bounceInUp">
  <button type="button" class="btn btn-primary btn-lg admin-menu admin-menu-course" data-toggle="modal" data-target="#myModal-course">课件管理</button>
  <div class="modal fade" id="myModal-course" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">课件管理</h4></div>
        <div class="modal-body">
          <!-- ！Nav tabs -->
          <div>
            <div class="tab-content">
              <!-- Tab panes  考试列表 -->
              <div role="tabpanel" class="tab-pane active admin-course-list" id="admin-course-list">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">课件列表</div>
                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>课件名称</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td></tr>
                                <tr>
                                -->
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Tab panes end 课件列表 -->

              <!-- Tab panes  新增考试 -->

            </div>
          </div>
          <!-- ！Nav tabs end -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">关闭窗口</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button></div> -->
        </div>
      </div>
    </div>
  </div>