
<!-- 
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

 -->

<!DOCTYPE html>


<title></title>

<link href="./stylesheets/error.css" rel="stylesheet" type="text/css">

</head>
<body>


<div id="container">
	<img class="png" src="./images/404.png">
	<img class="png msg" src="./images/404_msg.png">
	<p><a href="/"><img class="png" src="./images/404_to_index.png"></a> </p>
</div>

<!-- <div id="cloud" class="png"></div> -->
 
</body></html>
