<!DOCTYPE html>
<html>
 
</html>
<title>博达考试系统</title>
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
<link rel="icon" href="/images/logo.ico" type="image/x-ico" /> 
<link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.css' />
<link rel="stylesheet" type="text/css" href="/Wopop_files/style_log.css">
<link rel="stylesheet" type="text/css" href="/Wopop_files/style.css">
<link rel="stylesheet" type="text/css" href="/Wopop_files/userpanel.css">
<link rel='stylesheet' href='/stylesheets/animate.css' />
<style>
  .login {
    /*overflow: hidden;*/
  }
  .login h1 {
    padding-bottom: 30px;
    font-size: 35px;
    text-align: center;
  }

  .login input {
    font-weight: normal;
  }
  .login .form-group {
    padding-top: 20px;
  }

  .login_m{
    max-width: 480px;
  }

  label {
    display: block;
  }
  .alert-danger{
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin-bottom: 0;
    padding-left: 20px;
    margin-top: 10px;
  }
</style>
<!-- <link rel="stylesheet" type="text/css" href="/Wopop_files/jquery.ui.all.css"> -->

</head>

<body class="login" mycollectionplug="bind">
<div class="login_m animated zoomInUp">
<!-- <div class="login_logo"><img src="/Wopop_files/logo.png" width="196" height="46"></div> -->
<h1>博达考试系统</h1>
<div class="login_boder">

<div class="login_padding" id="login_model">

  <h2>用户名</h2>
  <form class="form-horizontal" role="form"  name="login_form" method="post">
  <label>
    <input type="text"  name="login_id" id="username" class="txt_input txt_input2"  placeholder="">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="login_password" id="userpwd" class="txt_input" placeholder="">
  </label>
  <div class="submit-result"></div>
 <div class="form-group">
    <div class="col-xs-6">
      <div  data-path='./users' class="btn btn-info pull-right" onclick="submitLogonInfo(this)">考生登录</div>
    </div>
    <div class="col-xs-6">
      <div data-path='./admin' class="btn btn-success" onclick="submitLogonInfo(this)">管理员登录</div>
    </div>
  </div>
 </form>


 
  <!-- <p class="forgot"><a id="iforget" href="javascript:void(0);">Forgot your password?</a></p> -->
  <!-- <div class="rem_sub">
  <div class="rem_sub_l">
  <input type="checkbox" name="checkbox" id="save_me">
   <label for="checkbox">Remember me</label>
   </div>
    <label>
      <input type="submit" class="sub_button" name="button" id="button" value="SIGN-IN" style="opacity: 0.7;">
    </label>
  </div>
</div> -->

<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>

<div id="forget_model" class="login_padding" style="display:none">
<br>

   <h1>Forgot password</h1>
   <br>
   <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to user’s registered email address.)</div>
    <label>
    <input type="text" id="usrmail" class="txt_input txt_input2">
   </label>

 
  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
     <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
     　　　
     <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">　　
    
    </label>
  </div>
</div>






<!--login_padding  Sign up end-->
</div><!--login_boder end-->
</div><!--login_m end-->
 <br> <br>
<!-- <p align="center"> More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p> -->
 <script src="/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  function submitLogonInfo(thiz){
          var data = {};
          var form = $(thiz).parents('form');
            var items = form.find('input,textarea');
            var submit_result = form.find('.submit-result');
          for (var i = 0; i < items.length; i++) {
              if (items[i].value === '') {
                    submit_result.html('<div class="alert alert-danger" role="alert">请填写完整信息！</div>') ;
                    return;
                  }else{
                    data[items[i].name] = items[i].value;
                  }
                }
          $.post(thiz.getAttribute('data-path'),data,function(data, status) {
                  if (data.status == 'false') {                 
                    submit_result.html('<div class="alert alert-danger" role="alert">' + data.info + '</div>');
                  } else {
                    form[0].action = thiz.getAttribute('data-path');
                    form[0].submit();
                  }   
                });         
           return false;  
  }


  $(function(){
    $('input').focus(function(){
      $('.submit-result').html('')
    })
  })
</script>
</body>
</html>