<!DOCTYPE html>
<html>
  <head>
    <title>博达考试系统</title>
    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    </style>
  </head>
  <body style="background: url(/Wopop_files/login_bgx.gif)">
  	<div class="users-content">
    <div class="container-fluid wrap"> 
          
     <!--  <h1 class="text-center text-primary">博达考试系统</h1>
    
      <div class="container-fluid login"> 
    	     <%= data.id %>
      </div> -->
      <%- include('inc/header',{identity:'用户'}) %>



        
      </div>
    </div>
    

    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js' />
    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/js/bootstrap.min.js' />
  </body>

</html>
